.ant-menu-submenu.float-right {
  float: right;
}
.ant-menu-item.float-right {
  float:right;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.register-form-button {
  width: 100%;
}
.navbar {
  list-style-type: none;
  height: 50px;
  background: #fb8a0b;
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
