.new-task-form {
  border: 1px solid #9c9c9c;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #f1f1f1;
}

.new-task-form-button {
  width: 100%;
}
.task-detail-container {
  padding: 15px;
}
.task-detail-row {
  padding: 5px;
}
.task-action-container {
  text-align: center;
  padding: 15px;
  .action-button {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
}
